body {
  margin: 0 auto;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 23px;

  background-color: #e2e2e2;
}

.grid-wrapper {
  display: grid;
  width: 1000px;
  margin: 20px auto;
  
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 30px 6px rgba(7, 87, 91, 0.5);

  grid-template-columns: 35% 65%;
  grid-template-areas: 
    "header header"
    "side content"
    "footer footer";
}

.grid-header {
  display: flex;
  padding: 1px 0;

  color: #07575B;

  background-color: rgba(196, 223, 230, 0.25);
  
  grid-area: header;
}

.grid-header h1 {
  margin: 0 auto;
}

.grid-header img {
  margin: 0 0 0 35px;
}

.grid-header-info {
  margin: 0 auto;

  align-self: center;
  text-align: center;
}

.grid-side {
  color: #c4dfe6;
  
  background-color: #07575b;

  grid-area: side;
}

.grid-side-header {
  width: 300px;
  height: 50px;
  margin: 5px auto 0 auto;

  color: #07575b;

  background-color: #c4dfe6;
  border-radius: 10px;
}

.grid-side-header h2 {
  margin: 0 auto;

  line-height: 2em;
  text-align: center;
}

.language {
  font-weight: bold;
}

.grid-side a {
  text-decoration: none;
  font-weight: 600;
  color: #c4dfe6;
}

.grid-side__contacts ul {
  padding: 0 0 0 15px;

  list-style-type: none;
}

.grid-side__contacts li img {
  margin: 5px 10px 5px 0;

  vertical-align: middle;
}

.grid-content {
  padding: 0 10px;

  color: #07575b;

  background-color: #c4dfe6;

  grid-area: content;
}

.grid-content-header {
  width: 300px;
  height: 50px;
  margin: 5px auto 0 auto;

  color: #c4dfe6;

  background-color: #07575b;
  border-radius: 10px;
}

.grid-content-header h2 {
  margin: 0;

  line-height: 2em;
  text-align: center;
}

.grid-content a {
  text-decoration: none;
  font-weight: 600;
  color: #07575b;
}

.code-example__title {
  font-weight: bold;
  text-align: center;
}

.code-example__area {
  width: 80%;
  margin: 0 auto;
  
  background-color: #ffffff;
  border-radius: 10px;
}

.grid-footer {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;

  background-color: rgba(196, 223, 230, 0.25);

  grid-area: footer;
}

.grid-footer a {
  text-decoration: none;
  color: #000000;
}